body {
  font-family: "Century Gothic", "Lato", sans-serif; }

a {
  text-decoration: none; }

.et-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2em;
  height: 75px;
  z-index: 2;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
  .et-header i {
    font-size: 2em;
    color: #E8E8E8;
    text-shadow: 0 0 3px #212529; }
  .et-header--scrolled {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
  .et-header--move-up {
    transform: translateY(-75px);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
  .et-header__logo {
    color: #000; }
  .et-header__link {
    color: #000; }

.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em; }
  .et-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem; }
  .et-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6; }

.et-hero-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em; }
  .et-hero-tabs h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem; }
  .et-hero-tabs h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6; }

.et-hero-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em; }
  .et-hero-tabs h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem; }
  .et-hero-tabs h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6; }

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
  .et-hero-tabs-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
  .et-hero-tabs-container--top-second {
    position: fixed;
    top: 0; }

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem; }
  .et-hero-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease; }

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  transition: left 0.3s ease; }

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem; }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem; }
  .et-hero-tab {
    font-size: 1rem; } }

.margin-t-b {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.center {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto; }
  .center .aboutme-img {
    border: 1px solid #bab4bb;
    padding: 7px; }
  .center .padd {
    padding: 1rem 1rem; }
  .center .center {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto; }
  .center .position {
    flex-direction: row-reverse;
    align-items: center; }
  .center .marg-r-l {
    margin-right: 50px;
    margin-left: 50px; }
  .center .button-resume {
    display: flex;
    border: 2px solid #746c75;
    background: none;
    font-size: 1rem;
    color: #372d38;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
    overflow: hidden;
    align-items: center;
    position: relative;
    max-width: 50%;
    height: auto;
    padding: 0.5em 0.5em;
    margin-top: 20px;
    margin-bottom: 2rem; }
    .center .button-resume:hover {
      background-color: transparent;
      border: 2px solid transparent;
      text-decoration: none;
      color: #372d38; }
      .center .button-resume:hover .border-line {
        position: absolute; }
      .center .button-resume:hover .border-line:nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #746c7500, #746c75);
        animation: animate1 2s linear infinite; }
      .center .button-resume:hover .border-line:nth-child(2) {
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(to top, #746c7500, #746c75);
        animation: animate2 2s linear infinite; }
      .center .button-resume:hover .border-line:nth-child(3) {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to left, #746c7500, #746c75);
        animation: animate3 2s linear infinite; }
      .center .button-resume:hover .border-line:nth-child(4) {
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(to bottom, #746c7500, #746c75);
        animation: animate4 2s linear infinite; }
  .center .position {
    flex-direction: row-reverse;
    align-items: center; }
  .center .marg-r-l {
    margin-right: 50px;
    margin-left: 50px; }
  .center .button-resume {
    display: flex;
    border: 2px solid #746c75;
    background: none;
    font-size: 1rem;
    color: #372d38;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
    overflow: hidden;
    align-items: center;
    position: relative;
    max-width: 50%;
    height: auto;
    padding: 0.5em 0.5em;
    margin-top: 20px;
    margin-bottom: 2rem; }
    .center .button-resume:hover {
      background-color: transparent;
      border: 2px solid transparent;
      text-decoration: none;
      color: #372d38; }
      .center .button-resume:hover .border-line {
        position: absolute; }
      .center .button-resume:hover .border-line:nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #746c7500, #746c75);
        animation: animate1 2s linear infinite; }
      .center .button-resume:hover .border-line:nth-child(2) {
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(to top, #746c7500, #746c75);
        animation: animate2 2s linear infinite; }
      .center .button-resume:hover .border-line:nth-child(3) {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to left, #746c7500, #746c75);
        animation: animate3 2s linear infinite; }
      .center .button-resume:hover .border-line:nth-child(4) {
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(to bottom, #746c7500, #746c75);
        animation: animate4 2s linear infinite; }
  .center .margin-t-b {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .center hr {
    padding-bottom: 30px;
    color: red;
    position: fixed;
    z-index: 999; }
  .center .aboutme-img {
    border: 1px solid #bab4bb;
    padding: 7px; }
  .center .padd {
    padding: 15px 15px; }
  .center .center {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto; }
  .center .position {
    flex-direction: row-reverse; }
  .center .marg-r-l {
    margin-right: 50px;
    margin-left: 50px; }
  .center .btn-primary {
    border: 2px solid #746c75;
    background: none;
    line-height: 30px;
    font-size: 12px;
    color: #372d38;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0; }

.data-curses {
  justify-content: left;
  text-align: left; }

.border-r {
  border: 1;
  border-left: 2px solid #d8d8d8;
  margin-bottom: 2em; }
  .border-r li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 0.5em; }
